<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/mainScene/btnbag.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,128},{54,62}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/mainScene/btnhelp.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,171},{49,64}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/mainScene/btnshop.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,64},{54,64}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/mainScene/btntop.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{64,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/mainScene/gq.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,94},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>res/mainScene/gqlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,182},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/mainScene/hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,475},{103,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,19}</string>
			</dict>
			<key>res/mainScene/hpbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,296},{171,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,54}</string>
			</dict>
			<key>res/mainScene/I.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,449},{94,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,50}</string>
			</dict>
			<key>res/mainScene/moneybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,0},{171,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,54}</string>
			</dict>
			<key>res/mainScene/numbers.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,475},{247,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,28}</string>
			</dict>
			<key>res/mainScene/progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,0},{69,475}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,475}</string>
			</dict>
			<key>res/mainScene/road.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,296},{153,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,114}</string>
			</dict>
			<key>res/mainScene/road2.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,296},{178,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,94}</string>
			</dict>
			<key>res/mainScene/road3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,296},{114,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,153}</string>
			</dict>
			<key>res/mainScene/road4.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,296},{94,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,178}</string>
			</dict>
			<key>res/mainScene/road5.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,296},{153,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,114}</string>
			</dict>
			<key>res/mainScene/road6.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,0},{178,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,94}</string>
			</dict>
			<key>res/mainScene/soundoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,94},{57,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/mainScene/soundon.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,94},{57,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/mainScene/STAR.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,449},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>
			<key>res/mainScene/starbag.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,475},{125,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,19}</string>
			</dict>
			<key>res/mainScene/starbagbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,0},{192,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,63}</string>
			</dict>
			<key>res/mainScene/yun.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{598,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{598,296}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mainScene.png</string>
			<key>realTextureFileName</key>
			<string>mainScene.png</string>
			<key>size</key>
			<string>{1024,503}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>503</integer>
		</dict>
	</dict>
</plist>