<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/zhekou/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,914},{40,40}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/zhekou/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,954},{40,40}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/zhekou/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,914},{40,40}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/zhekou/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,855},{40,40}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/zhekou/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,793},{40,40}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/zhekou/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,750},{40,40}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/zhekou/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,696},{40,40}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/zhekou/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,954},{40,40}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/zhekou/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,895},{40,40}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/shop/allItem.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,0},{116,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,38}</string>
			</dict>
			<key>res/shop/allItem2.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,116},{116,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,38}</string>
			</dict>
			<key>res/shop/buyBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,696},{220,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,65}</string>
			</dict>
			<key>res/shop/hotItem.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,232},{116,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,38}</string>
			</dict>
			<key>res/shop/hotItem2.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,348},{116,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,38}</string>
			</dict>
			<key>res/shop/itemBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,696},{91,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,98}</string>
			</dict>
			<key>res/shop/SHOPBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{978,678}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{978,678}</string>
			</dict>
			<key>res/shop/tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,916},{132,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,78}</string>
			</dict>
			<key>res/shop/zheko.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,464},{116,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,38}</string>
			</dict>
			<key>res/shop/zheko2.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,580},{116,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,38}</string>
			</dict>
			<key>res/prop/addFive.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,750},{43,49}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/prop/change.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,855},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/prop/goBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,794},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/prop/hammer.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,855},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/prop/rearrange.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,794},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/prop/swapGem.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,696},{54,50}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shop.png</string>
			<key>realTextureFileName</key>
			<string>shop.png</string>
			<key>size</key>
			<string>{1016,994}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>994</integer>
		</dict>
	</dict>
</plist>