<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/gameScene/normal/blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,0},{56,55}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/normal/green.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,0},{57,54}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/normal/purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,54},{57,54}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/normal/red.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,442},{57,54}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/normal/yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,56},{56,55}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/small/smallBulb.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,471},{31,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/gameScene/small/smallBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,480},{31,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/gameScene/small/smallGlass.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,440},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/gameScene/small/smallGold.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,442},{31,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/gameScene/small/smallGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,471},{31,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/gameScene/small/smallJelly.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,440},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/gameScene/small/smallPurple.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,469},{31,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/gameScene/small/smallRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,459},{31,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/gameScene/small/smallWood.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,469},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/gameScene/small/smallYellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,419},{31,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/gameScene/special/addFive.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,440},{40,31}}</string>
				<key>offset</key>
				<string>{9,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/special/timeBomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,419},{50,27}}</string>
				<key>offset</key>
				<string>{1,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/bulb.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,0},{59,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,440},{49,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/glass.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,60},{61,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/jelly.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,61},{61,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/partition1.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,0},{6,61}}</string>
				<key>offset</key>
				<string>{-27,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/partition2.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,61},{61,6}}</string>
				<key>offset</key>
				<string>{0,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/partition3.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,122},{6,61}}</string>
				<key>offset</key>
				<string>{28,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/partition4.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,183},{61,6}}</string>
				<key>offset</key>
				<string>{0,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/stencil.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,61},{60,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/wood1.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,61},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/wood2.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,259},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/wood3.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,320},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/strumbling/wood4.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,381},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/cellectGold.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,0},{60,35}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,36}</string>
			</dict>
			<key>res/gameScene/finish.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,419},{19,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,17}</string>
			</dict>
			<key>res/gameScene/fkbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,0},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/marksbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,122},{137,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,333}</string>
			</dict>
			<key>res/gameScene/propBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,307},{112,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,444}</string>
			</dict>
			<key>res/gameScene/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,108},{14,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,13}</string>
			</dict>
			<key>res/gameScene/star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,259},{132,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,21}</string>
			</dict>
			<key>res/gameScene/star1Cyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,259},{132,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,21}</string>
			</dict>
			<key>res/gameScene/star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,280},{132,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,21}</string>
			</dict>
			<key>res/gameScene/star2Cyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,280},{132,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,21}</string>
			</dict>
			<key>res/gameScene/star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,419},{132,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,21}</string>
			</dict>
			<key>res/gameScene/star3Cyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,419},{132,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,21}</string>
			</dict>
			<key>res/gameScene/targetBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{171,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,307}</string>
			</dict>
			<key>res/gameScene/normal/cyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,440},{57,54}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/gameScene/small/smallCyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,419},{31,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameScene.png</string>
			<key>realTextureFileName</key>
			<string>gameScene.png</string>
			<key>size</key>
			<string>{511,510}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>511</integer>
			<key>height</key>
			<integer>510</integer>
		</dict>
	</dict>
</plist>