<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/btn/an/an1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,200},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>res/btn/an/an10.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,400},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/btn/an/an11.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,114},{24,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,16}</string>
			</dict>
			<key>res/btn/an/an12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/an/an13.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,0},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/an/an14.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,0},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/an/an15.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,0},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/an/an16.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,0},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/an/an17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/an/an2.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,200},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>res/btn/an/an3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,50},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/an/an4.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,138},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>res/btn/an/an5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/an/an6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/an/an7.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,400},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>res/btn/an/an8.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,162},{24,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,16}</string>
			</dict>
			<key>res/btn/an/an9.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,186},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>res/btn/cyan/cyan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,200},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>res/btn/cyan/cyan10.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,381},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/btn/cyan/cyan11.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,210},{24,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,16}</string>
			</dict>
			<key>res/btn/cyan/cyan12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,456},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/cyan/cyan13.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,100},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/cyan/cyan14.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,214},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/cyan/cyan15.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,328},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/cyan/cyan16.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,100},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/cyan/cyan17.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,50},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/cyan/cyan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,225},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>res/btn/cyan/cyan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,100},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/cyan/cyan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,234},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>res/btn/cyan/cyan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,50},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/cyan/cyan6.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,50},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/cyan/cyan7.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,314},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>res/btn/cyan/cyan8.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,258},{24,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,16}</string>
			</dict>
			<key>res/btn/cyan/cyan9.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,282},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>res/btn/light/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,250},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>res/btn/light/light10.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,428},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/btn/light/light11.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,306},{24,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,16}</string>
			</dict>
			<key>res/btn/light/light12.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,100},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/light/light13.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,114},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/light/light14.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,228},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/light/light15.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,150},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/light/light16.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,342},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/light/light17.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,456},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/light/light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,275},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>res/btn/light/light3.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,150},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/light/light4.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,330},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>res/btn/light/light5.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,150},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/light/light6.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,200},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/light/light7.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,342},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>res/btn/light/light8.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,428},{24,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,16}</string>
			</dict>
			<key>res/btn/light/light9.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,428},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>res/btn/normal/normal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,300},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>res/btn/normal/normal10.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,446},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/btn/normal/normal11.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,325},{24,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,16}</string>
			</dict>
			<key>res/btn/normal/normal12.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,200},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/normal/normal13.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,200},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/normal/normal14.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,200},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/normal/normal15.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,228},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/normal/normal16.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,250},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/normal/normal17.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,300},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/normal/normal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,428},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>res/btn/normal/normal3.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,314},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/normal/normal4.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,341},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>res/btn/normal/normal5.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,314},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/normal/normal6.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,350},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>res/btn/normal/normal7.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,353},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>res/btn/normal/normal8.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,357},{24,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,16}</string>
			</dict>
			<key>res/btn/normal/normal9.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,373},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>button.png</string>
			<key>realTextureFileName</key>
			<string>button.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>